{% extends "templates/Delete.html" %}
{% block form %}
<div class="form-group">
    <label>Parameter</label>
    <select class="form-control" name="parameter" id="parameterSelector" onchange="changeImage()">
        <option value="amount">Amount</option>
        <option value="buy_price">Buy Price</option>
        <option value="sell_price">Sell Price</option>
        <option value="ring_size">Ring Size</option>
    </select>
</div>

<script>

</script>


<div class="form-group">
    <label for="exampleInputPassword1">New Value</label>
    <input name="value"  class="form-control" id="exampleInputPassword1" >
</div>
{% endblock %}